<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="ca.albertahealthservices.contacttracing" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="ca.albertahealthservices.contacttracing.TracerApp" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher" android:supportsRtl="true" android:theme="@style/AppTheme.NoActionBar">
        <provider android:authorities="ca.albertahealthservices.contacttracing.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:configChanges="keyboardHidden" android:name="ca.albertahealthservices.contacttracing.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.worklight.wlclient.ui.UIActivity"/>
        <activity android:name="ca.albertahealthservices.contacttracing.RestartActivity" android:screenOrientation="portrait"/>
        <activity android:name="ca.albertahealthservices.contacttracing.onboarding.OnboardingActivity" android:screenOrientation="portrait"/>
        <activity android:name="ca.albertahealthservices.contacttracing.onboarding.HowItWorksActivity" android:screenOrientation="portrait"/>
        <activity android:name="ca.albertahealthservices.contacttracing.onboarding.PreOnboardingActivity" android:screenOrientation="portrait"/>
        <activity android:name="ca.albertahealthservices.contacttracing.onboarding.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name="ca.albertahealthservices.contacttracing.MainActivity" android:screenOrientation="portrait"/>
        <receiver android:name="ca.albertahealthservices.contacttracing.boot.StartOnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <activity android:launchMode="singleTask" android:name="ca.albertahealthservices.contacttracing.permissions.RequestFileWritePermission" android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"/>
        <service android:foregroundServiceType="0x00000008" android:name="ca.albertahealthservices.contacttracing.services.BluetoothMonitoringService"/>
        <activity android:name="ca.albertahealthservices.contacttracing.PeekActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.DebugNoActionBar"/>
        <activity android:name="ca.albertahealthservices.contacttracing.PlotActivity" android:screenOrientation="landscape" android:theme="@style/AppTheme.DebugNoActionBar"/>
        <receiver android:name="ca.albertahealthservices.contacttracing.receivers.UpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:label="" android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity" android:theme="@style/EasyPermissions.Transparent"/>
        <service android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <provider android:authorities="ca.albertahealthservices.contacttracing.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
    </application>
</manifest>